*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}
h1{
    font-family: 'Bebas Neue', cursive;
}
.navbar .container-fluid {
    padding: 0 100px;
}
.navbar-brand{
    width:60px;
}
.penguin-logo img{
    width: 40%;
    height: 30%;
}
a.navbar-brand {
    display: contents;
}
.shopping-cart{
    background-color: yellowgreen;
    border:0;
    color:white;
}
.shopping-cart:hover{
    background-color: rgba(140, 185, 50, 0.952);
    color:white;
}
.shopping-cart img{
    width:20%;
}
.penguin-card{
    border:0;
}
.woman-jacket{
    background-color:whitesmoke;
    padding: 10px;
    border-radius: 25px;
}
.card{
    border-radius: 10px !important;
}
.woman-jacket img{
    width:100%;
}
.man-jacket{
    background-color:whitesmoke;
    padding: 10px;
    border-radius: 25px;
}
.man-jacket img{
    width:100%;
}
.penguin-card-footer{
    border:0;
    background-color: white;
}
.penguin-container{
    background-color:#ebebebe0;
    border-radius:10px;
}
.penguin-btn{
    background-color: yellowgreen;
    border:0;
    color:white;
}
.penguin-btn:hover{
    background-color:rgba(140, 185, 50, 0.952);
    border:0;
    color:white;
}