*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size:18px;
    background-color:floralwhite;
}
.banner-title {
    font-family: 'Bebas Neue', cursive;
    font-size: 45px;
}
.navbar .container-fluid {
    padding: 0 100px;
}
.navbar-brand{
    width:60px;
}
.penguin-navbar{
    background-color:floralwhite;
}
.card-title{
    font-weight:700;
    font-size:28px;
}
.penguin-logo img{
    width: 40%;
    height: 30%;
}
a.navbar-brand {
    display: contents;
}
.shopping-cart{
    background-color: yellowgreen;
    border:0;
    color:white;
}
.shopping-cart:hover{
    background-color: rgba(140, 185, 50, 0.952);
    color:white;
}
.shopping-cart img{
    width:20%;
}
.penguin-card{
    border:0;
}
.woman-jacket{
    background-color:whitesmoke;
    padding: 10px;
    border-radius: 25px;
}
.card{
    border-radius: 10px !important;
}
.woman-jacket img{
    width:100%;
}
.man-jacket{
    background-color:whitesmoke;
    padding: 10px;
    border-radius: 25px;
}
.man-jacket img{
    width:100%;
}
.price{
    color:rgba(250, 190, 76, 1);
    font-weight:700;
    font-size:30px;
}
.penguin-card-footer{
    border:0;
    background-color: white;
}
.penguin-container{
    background-color:rgba(255, 255, 255, 0.822);
    border-radius:10px;
}
.penguin-btn{
    background-color: yellowgreen;
    border:0;
    color:white;
}
.penguin-btn:hover{
    background-color:rgba(140, 185, 50, 0.952);
    border:0;
    color:white;
}